################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DI-Notes/FileContentIndex
/.vs/DI-Notes/v17
/.vs
/cls
